<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GPUUIDServlet</servlet-name>
  	<display-name>GPUUIDServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GPUUIDServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GEUUID</servlet-name>
  	<display-name>GEUUID</display-name>
  	<description></description>
  	<servlet-class>controller.GEUUID</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrescriptionServlet</servlet-name>
  	<display-name>PrescriptionServlet</display-name>
  	<description></description>
  	<servlet-class>controller.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientPrescripServlet</servlet-name>
  	<display-name>PatientPrescripServlet</display-name>
  	<description></description>
  	<servlet-class>controller.PatientPrescripServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getpatolddata</servlet-name>
  	<display-name>getpatolddata</display-name>
  	<description></description>
  	<servlet-class>controller.getpatolddata</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GPUUIDServlet</servlet-name>
  	<url-pattern>/GPUUIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GEUUID</servlet-name>
  	<url-pattern>/GEUUID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrescriptionServlet</servlet-name>
  	<url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientPrescripServlet</servlet-name>
  	<url-pattern>/PatientPrescripServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getpatolddata</servlet-name>
  	<url-pattern>/getpatolddata</url-pattern>
  </servlet-mapping>
</web-app>
